<div class="content">
    <!--  <h1>{{message}}</h1> -->
    <button class="button" ng-click="order = 'name'">Order by name</button>
    <button class="button" ng-click="order = 'category'">Order by category</button>
    <!--<ul>
                    <li ng-repeat="employee in employees">{{employee}}</li>
                </ul> -->

    <input type="text" ng-model="search">
    <ul id="players_list" >
        <li ng-repeat="player in players | orderBy: order | filter: search" ng-show="player.available">
            <img ng-src="{{player.img}}" class="profile-pic" ng-show="player.img" />
            <h3>{{player.name}} - {{player.price | currency: '$'}}</h3>
            <button class="remove" ng-click="removeSold(player)">x</button>
            <span class="belt" style="background: {{player.skillcolor}}">{{player.category}}</span>
        </li>
    </ul>
    <form ng-submit="addPlayer()">
        <input type="text" placeholder="Name" ng-model="newplayer.name">
        <input type="text" placeholder="Category" ng-model="newplayer.category">
        <input type="text" placeholder="Price" ng-model="newplayer.price">
        <input type="text" placeholder="Skill color" ng-model="newplayer.skillcolor">
        <input type="submit" value="Add new player">
    </form>
    <a href="" ng-click="removeAll()">Remove all Players</a>
</div>